/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #cac4c4;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    color: #131212;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active {
    color: brown;
}

nav ul li a.active::after, 
nav ul li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: brown;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

main {
    padding: 20px 0;
}

section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
